* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  font-family: 'IBM Plex Mono',sans-serif;
  background: url(../images/background.jpeg) no-repeat center center fixed;;
  background-size: cover; 
}

#align {
  text-align: start;
  padding: 0 50px;
}

.underline {
  text-decoration: underline;
}
div.block {
background-image: linear-gradient(to right, #d92621, #efe258);
}

div.still-block {
  background-image: url(../images/nanagon.jpeg);
  background-size: cover;
}

.score-board, .control {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #efe258;
  height: 500px;
}

#start {
  background-image: linear-gradient(#a0462c,#6e8569, #403725);
  color: #efe258;
  text-decoration-line: underline;
  padding: 0.5rem 1.5rem 0.5rem;
  border-width: 0.5rem;
  border-style: groove;
  font-family: 'IBM Plex Mono',sans-serif;
}

ul {
  list-style-type: none;
  padding: 0;
}

.grid-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  margin-top: 10%;
  justify-content: center;
  height: 650px;
  width: 350px;
  background-size: cover;
}

.grid div {
  border: 1px solid #efe258;
  flex-grow: 1;
  height: 5%;
  width: 10%;
  border-radius: 5%;
}

.bottom-flex {
  color: #efe258;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

a {
  text-decoration: none;
  color: #efe258;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}
figcaption {
  margin-bottom: 5%;
}

.track {
  background-image: linear-gradient(#a0462c,#6e8569, #403725);
  color: #efe258;
  font-family: 'IBM Plex Mono',sans-serif;
  margin-bottom: 5%;
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-panel {
  background-color: #efe258;
}

@media screen and  (max-width: 350px) {
  .grid {
    height: 450px;
    width: 250px;
  }
  .grid-wrapper {
    flex-direction: column;
    font-size: 70%;

  }
  #start {
    max-width: 50%;
  }
  #align {
    margin-bottom: 0%;
  }
  .track {
    font-size: small;
  }
}

@media screen and (max-width: 750px) {
  .grid-wrapper {
    flex-direction: column;
  }
  .score-board {
    order: 1;
  }
  audio {
    width: 70%;
  }
  figure {
    display: inline;
  }
}
  
